
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  /* position: relative; */
}

.center {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.login-box {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  width: 400px;
  padding: 40px;
  /* transform: translate(-50%, -50%); */
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  color: #fff;
  margin: auto auto;
  margin: 0 0 30px;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: center; */
}

.login-btn {
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
}

.login-btn:hover {
  transform: scale(1.1);
}

.reg-btn{
  color: #fff;
}

@media (max-width: 400px) {
  .login-box {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  #my-form {
    align-self: start;
  }

  .login-box h2 {
    align-self: end;
    padding-bottom: 40px;
    color: #333;
  }

  .login-box .user-box input {
    color: #000;
    border-bottom: 1px solid #000;
  }

  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    color: #333;
  }

  .login-btn {
    background-color: rgb(57, 17, 121);
    color: #fff;
  }
  .login-btn:hover {
    background-color: darkblue;
  }
}
